<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>TimeLine</title>
  </head>
  <body>
    <header>
      <div class="controll">
        <div class="controll--title">
          <h1>TIMELINE</h1>
          <div class="separator"></div>
          <p>MY STAR WARS TIMELINE</p>
        </div>
        <form class="controll--form">
          <div class="inline">
            <input type="date" id="from" />
            <input type="date" id="to" />
          </div>

          <div class="button inline">
            <button value="search">Filter</button>
            <button value="change">
              <span id="sort" class="m-1">&darr;</span>
              <p>Cambia ordine</p>
            </button>
            <button value="reset">Resetta</button>
          </div>
        </form>
      </div>
    </header>
    <main>
      <div class="container">
        <!-- <div class="box">
          <div class="info">
            <div class="info__place">${planet.name}</div>
            <div class="info__date">${formatterd}</div>
          </div>
          <div class="time-line"></div>
        </div> -->
      </div>
    </main>
  </body>
</html>
